<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.springframework.org/tags/fmt">
<head>
    <meta charset="UTF-8">
    <title><fmt:message code="index.title"/> - <fmt:message code="search.search"/></title>
</head>
<body>
<div class="_wrapper">
    <header th:include="/parts/header"></header>
    <div class="ms-5 mt-3 h3 _main-color4">
        <fmt:message code="search.search"/>
    </div>

    <form method="POST" action="/search" id="searchForm" onsubmit="return validateForm()">
        <div class="_search-form d-flex
   flex-column m-3 ms-lg-5 me-lg-5 mt-2 p-3 border border-1 rounded _main-bg-color4 _main-color2 shadow-lg">
            <div class="d-flex flex-column align-items-start flex-md-row">
                <div class="d-flex flex-column flex-lg-row justify-content-between">
                    <div class="d-flex flex-column border rounded p-1 me-md-3 mb-3">
                        <div class="form-group me-lg-3 mb-1 ms-1">
                            <label for="daterange" class="form-label">
                                <fmt:message code="search.date_range"/>
                                :
                            </label>
                            <input type="text" class="form-control _input-daterange"
                                   id="daterange" name="daterange" aria-label="daterange"
                                   th:value="${session.daterange}" required>
                        </div>

                        <div class="form-group me-lg-3 mb-1 ms-1">
                            <label for="train_number" class="form-label">
                                <fmt:message code="routes.train_number"/>
                                :
                            </label>
                            <input type="text" class="form-control _input-train-number"
                                   id="train_number" name="train_number" aria-label="train_number"
                                   th:value="${session.train_number}">
                        </div>
                    </div>

                    <div class="d-flex flex-column border rounded p-1 me-md-3 mb-3">

                        <div class="form-group ms-1 me-1 mb-1">
                            <label for="station_departure_id" class="form-label">
                                <fmt:message code="routes.station_departure"/>
                                :
                            </label>
                            <select class="form-control _input-station"
                                    id="station_departure_id" name="station_departure_id">
                                <option th:each="station : ${stations}"
                                        th:value="${station.id}"
                                        th:selected="${station.id == session.station_departure_id}">
                                    <span th:text="${station.name}"></span>
                                </option>
                            </select>
                        </div>

                        <div class="form-group ms-1 me-1 mb-1">
                            <label for="station_arrival_id" class="form-label">
                                <fmt:message code="routes.station_arrival"/>
                                :
                            </label>
                            <select class="form-control _input-station"
                                    id="station_arrival_id" name="station_arrival_id">
                                <option th:each="station : ${stations}"
                                        th:value="${station.id}"
                                        th:selected="${station.id == session.station_arrival_id}">
                                    <span th:text="${station.name}"></span>
                                </option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="d-flex flex-column flex-xxl-row justify-content-between">
                    <div class="d-flex flex-column border rounded p-1 me-3 mb-3">
                        <div class="form-group me-lg-3 mb-1 ms-1">
                            <label for="passenger_name" class="form-label">
                                <fmt:message code="search.passenger_name"/>
                                :
                            </label>
                            <input type="text" class="form-control _input-passenger-name"
                                   id="passenger_name" name="passenger_name" aria-label="passenger_name"
                                   th:value="${session.passenger_name}">
                        </div>

                        <div class="form-group me-lg-3 mb-1 ms-1">
                            <label for="passenger_id" class="form-label">
                                <fmt:message code="search.passenger_id"/>
                                :
                            </label>
                            <input type="text" class="form-control _input-passenger-id"
                                   id="passenger_id" name="passenger_id" aria-label="passenger_id"
                                   th:value="${session.passenger_id}">
                        </div>
                    </div>

                    <div class="d-flex flex-column border rounded p-1 me-3 mb-3">
                        <div class="form-group ms-1 me-1 mb-1">
                            <label for="class_id" class="form-label">
                                <fmt:message code="search.class"/>
                                :
                            </label>
                            <select class="form-control _input-class" id="class_id" name="class_id">
                                <option th:each="class : ${classes}"
                                        th:value="${class.id}"
                                        th:selected="${class.id == session.class_id}">
                                    <span th:text="${class.name}"></span>
                                </option>
                            </select>
                        </div>
                        <div class="form-group ms-1 me-1 mb-1">
                            <label for="status_id" class="form-label">
                                <fmt:message code="search.status"/>
                                :
                            </label>
                            <select class="form-control _input-status" id="status_id" name="status_id">
                                <option th:each="status : ${statuses}"
                                        th:value="${status.id}"
                                        th:selected="${status.id == session.status_id}">
                                    <span th:text="${status.name}"></span>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary _search-button">
                    <fmt:message code="search.search"/>
                </button>
            </div>
        </div>
    </form>
    <footer th:include="/parts/footer"></footer>
</div>
<script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/moment.min.js}"></script>
<script th:src="@{/resources/js/daterangepicker.min.js}"></script>
<script th:src="@{/resources/js/search.js}"></script>
</body>
</html>