<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        .narrow-form {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container mt-5 narrow-form">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Sign up</h1>
        </div>
        <div class="card-body bg-light">
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
            <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>
            <form action="/registration-user" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="login"><i class="fas fa-user"></i> Login:</label>
                    <input type="text" id="login" name="login" class="form-control" th:field="*{login}" placeholder="Enter login" required>
                </div>
                <div class="form-group">
                    <label for="password"><i class="fas fa-lock"></i> Password:</label>
                    <input type="password" id="password" name="password" class="form-control" th:field="*{password}" placeholder="Enter password" required>
                </div>
                <div class="form-group">
                    <label for="email"><i class="fas fa-envelope"></i> Email:</label>
                    <input type="email" id="email" name="email" class="form-control" th:field="*{email}" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="balance"><i class="fas fa-dollar-sign"></i> Balance:</label>
                    <input type="number" id="balance" name="balance" step="0.01" class="form-control" th:field="*{balance}" placeholder="Enter balance" required>
                </div>
                <div class="form-group">
                    <label for="role"><i class="fas fa-user-tag"></i> Role:</label>
                    <input type="text" id="role" name="role" class="form-control" th:field="*{role}" placeholder="The role is user by default" required>
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>