<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Train</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Edit Train</h1>
  <form action="/trains-list/{id}" method="post" th:object="${train}">
    <input type="hidden" id="id" th:field="*{id}">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>
    <div class="form-group">
      <label for="departureTime">Departure Time:</label>
      <input type="text" class="form-control" id="departureTime" th:field="*{departureTime}" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>