<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Trains</title>
</head>
<body>
<h1>All Trains</h1>
<table>
  <tr>
    <th>Train ID</th>
    <th>Name</th>
    <th>Route Sheet</th>
    <!-- Add more table headers as needed -->
  </tr>
  <tr th:each="train : ${trains}">
    <td th:text="${train.id}"></td>
    <td th:text="${train.number}"></td>
    <li th:each="routeSheet : ${train.schedules}" th:text="${schedule.name}"></li>
    <td th:text="${train.routeSheet.getStations()}"></td>
    <!-- Add more table cells as needed -->
  </tr>
</table>
<a href="/trains-list/new">Add New Train</a>
</body>
</html>